/* manrope-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/manrope-v15-latin-500.woff2') format('woff2');
}

/* manrope-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v15-latin-700.woff2') format('woff2');
}

:root {
  --very-dark-grayish-blue: 217 19% 35%;
  --desaturated-dark-blue: 214 17% 51%;
  --grayish-blue: 212 23% 69%;
  --light-grayish-blue: 210 46% 95%;
}

* {
  box-sizing: border-box;
  color: inherit;
}

:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}

body {
  margin: 0;
  padding: calc(74 / 16 * 1rem) calc(24 / 16 * 1rem);
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  background-color: hsl(var(--light-grayish-blue));
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.article-preview {
  max-width: calc(445 / 16 * 1rem);
  font-size: calc(13 / 16 * 1rem);
  color: hsl(var(--very-dark-grayish-blue));
  background-color: white;
  border-radius: calc(10 / 16 * 1rem);
  overflow: hidden;
  position: relative;
  letter-spacing: 0.16px;
}
.article-preview .image {
  --n: 327;
  --d: 200;
}
.article-preview .image img {
  object-position: 50% 30%;
}
.article-preview .content {
  padding-inline: calc(32 / 16 * 1rem);
  padding-block: calc(36 / 16 * 1rem) calc(16 / 16 * 1rem);
}
.article-preview .title {
  font-size: calc(16 / 16 * 1rem);
  font-weight: 700;
  margin-block: 0;
  line-height: 1.48;
}
.article-preview .description {
  line-height: 1.5;
  margin-block: calc(12 / 16 * 1rem) 0;
}
.article-preview footer {
  margin-top: calc(28 / 16 * 1rem);
  display: flex;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
  letter-spacing: 0.6px;
}
.article-preview .avatar {
  border-radius: 50%;
  width: calc(40 / 16 * 1rem);
  height: calc(40 / 16 * 1rem);
}
.article-preview [rel='author'] {
  font-style: normal;
  color: hsl(var(--very-dark-grayish-blue));
  text-decoration: none;
  font-weight: 700;
}
.article-preview time {
  color: hsl(var(--grayish-blue));
}

.share-btn {
  border-radius: 50%;
  border: none;
  width: calc(32 / 16 * 1rem);
  height: calc(32 / 16 * 1rem);
  margin-left: auto;
  background-color: hsl(var(--light-grayish-blue));
  color: hsl(var(--desaturated-dark-blue));
  cursor: pointer;
  z-index: 1;
  flex-shrink: 0;
}
.share-btn[aria-pressed='true'] {
  background-color: hsl(var(--desaturated-dark-blue));
  color: hsl(var(--light-grayish-blue));
}

.share-btn[aria-pressed='false'] + share-links {
  visibility: hidden;
}

a > svg,
button > svg {
  pointer-events: none;
}

share-links,
share-links ul {
  display: flex;
  align-items: center;
}
share-links {
  color: white;
  background-color: hsl(var(--very-dark-grayish-blue));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(24 / 16 * 1rem) calc(32 / 16 * 1rem);
}
share-links span {
  text-transform: uppercase;
  letter-spacing: 4.81px;
  color: hsl(var(--light-grayish-blue));
}
share-links ul {
  list-style-type: none;
  margin-block: 0;
  padding-left: calc(22 / 16 * 1rem);
  gap: calc(16 / 16 * 1rem);
}
share-links a {
  display: block;
  height: calc(20 / 16 * 1rem);
}
share-links svg {
  width: calc(20 / 16 * 1rem);
  height: calc(20 / 16 * 1rem);
}

/* Utilities */
.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.frame {
  aspect-ratio: var(--n, 16) / var(--d, 9);
}
.frame > img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
